body{
    background-image: url('mushroom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    color: rgb(8, 10, 13);
    
}
.advice{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    max-width: 600px;
    width: 500px;
    align-self: center;
    text-align: center;
    padding: 10px;
    border-radius: 23px;
    margin: 20px;
    font-size: 30px;
    color: rgb(237, 234, 234);
}
.get-new-advice{
    cursor: pointer;
    height: 100px;
    width: 100px;
    align-self: center;
    border-radius: 100px;
    font-size: 23px;
    color: aliceblue;
    background-color: rgb(255,255,255, 0.3);
    border: none;
    transition: 2s;
}
.get-new-advice:hover{
    scale: 1.1;
}