body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2632;
    height: 100vh;
}
.card{
    height: 332px;
    width: 540px;
    border: 1px solid none;
    background-color: #323A49;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.advice-number{
    color: #52FFA8; 
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 12%;
    font-family: 'Roboto', sans-serif;
}
.advice-content{
    color: #CEE3E9;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}